.about {
    width: 80%;
    margin: 0 auto 40px; /* cima esquerda/direita baixo */
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;

    &__title {
        background-color: $light-gray;
        text-align: center;
        padding: 20px;
    }

    &__h1 {
        @include fontSize(22px);
        color:$dark-gray;
        letter-spacing: 1px;
        margin: 5px 0 10px;

    }
    /* breadcrum é uma lista de links */
.breadcrumb {
    @include flx(justify-content,center);
    align-items: center;

    &__link {
        @include fontSize(12px);
        text-decoration: none;
        color:$dark-gray;
        &:hover {
            text-decoration: underline;
            color:$purple;
        }
    }

    &__img {
        width: 10px;
        margin: 8px;
    }
}
    &__img {
        width: 100%;
        @extend %double-margin-bottom;
    }
    
    &__intro {
       font-weight: 100;
       color: $dark-gray;
       width: 70%;
       margin: 30px auto;
       text-align: center;
       @include fontSize(16px);

       @include for-phone-only {
           width: 90%;
       }
       @include for-tablet-only {
           width:80%;
       }
    }

    &__split {
       @include flx(justify-content,center);
        flex-wrap: wrap;
        align-items: center;
    }

    &__img-description {
        width: $img-width;

        @include for-phone-only {
            width: 80%;
        }
        
    }

    &__txt {
        width: calc(100% - #{$img-width} ) ;

        @include for-phone-only {
            width: 90%;
            text-align: center;
        }
    }

    &__p {
        @include fontSize(14px);
        padding: 10px 20px;
        color: $dark-gray;
    }
}